repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

    - repo: https://github.com/psf/black-pre-commit-mirror
      rev: 25.11.0
      hooks:
          - id: black

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.5
      hooks:
        # Run the linter.
        - id: ruff-check
          args:
            - --fix
